body {
  font-family: 'Poppins', sans-serif;
}

.headerOuter {
  background-color: white;
  padding: 10px;
  z-index: 9999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

/* Fix mobile collapse background */
.navbarCustom {
  background-color: white;
  padding: 10px;
}

.logo {
  height: 50px;
  width: 100%;
  border-radius: 50%;
}

/* Nav item styling and hover underline effect */
.navItem {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: black !important;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navItem::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #FACC15; /* Underline color */
  transition: width 0.3s ease;
}

.navItem:hover::after {
  width: 100%; /* Underline expands on hover */
}

.navItem:hover {
  color: #FACC15 !important; /* Optional: Text color changes to the underline color on hover */
}

/* Social icons styling */
.socialIcons a {
  background-color: #f0f0f0;
  color: #333;
  font-size: 1.1rem;
  width: 35px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
}

.socialIcons a:hover {
  background-color: #FACC15;
  color: #fff;
}

.offcanvasBg {
  background-color: white;
}

.offcanvasBg .offcanvas-header,
.offcanvasBg .offcanvas-body {
  padding: 20px;
}
